@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.bannerheight {
  height: 450px;
}

.ql-editor {
  overflow: auto;
  resize: vertical;
  min-height: 18em;
}